
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  font: 9pt Arial;
}

#title {
  font: bold 14pt Georgia; /* Arial; */
  margin: 10px 0 10px 0;
}

#overview {

}

#overview-svg {

  .axis {
    font: 8px Arial;
    path {
      stroke-width: 0.5px;
      stroke: gray;
    }
  }

  .chart {
    .max { fill:none; stroke: gray; stroke-width: 0.5px; }
  }

  .chart-b_in {
    //font: 8px Arial;

    .avg { fill: lightblue; stroke:none; stroke-width: 0.5px; }
  }

  .chart-b_out {
    //.max { fill:none; stroke: gray; stroke-width: 0.5px; }
    .avg { fill: steelblue; stroke:none; stroke-width: 0.5px;}
  }

  .chart-g {
    //.max { fill:none; stroke: gray; stroke-width: 0.5px; }
    .avg { fill: lightgreen; stroke:none; stroke-width: 0.5px;}
  }

  .chart-k {
    //.max { fill:none; stroke: gray; stroke-width: 0.5px; }
    .avg { fill: gray; stroke:none; stroke-width: 0.5px;}
  }
}