@import "tabs";

body {
  position:  relative;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

div {
  margin: 0px;
}

.page {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.title {
  font: 20px arial;
//  height: 50px;
}

.controls {
//  position: fixed;
  top: 10px;
  left: 5px;
  width: 250px;

  font: 12px sans-serif;

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  ul li {
    padding-left: 15px;
    padding-top: 10px;
  }

  .li-title {
    font-size: 11pt;
    font-style: italic;
//    font-weight: bold;
  }

  .li-body {
    margin-left: 10px;
  }


  .jobs {
    //  background-color: #f0f0f0;
    border-collapse: collapse;
    border-width: 2px;
    width: 100px;

    th {
      border-bottom: solid thin;
    }

    td, th {
      padding: 0.25rem;
    }

    td.text-col, th.text-col {
      text-align: left;
    }

    td.number-col, th.number-col {
      text-align: right;
    }
  }
}


.info {
  margin-left: 0px;
  margin-top: 0px;
}


.counter {
  width: 200px;
  background-color: #fdf5ce;
}

.views {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;
}

.view {
  overflow: scroll
}

.histogram {
  height: 100px;

  .bar {
    shape-rendering: crispEdges;
  }

  .bar text {
    fill: #fff;
  }

  .axis text {
    font: 8px sans-serif;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
  }

  .brush .extent {
    fill:  #ddd;
    fill-opacity: 0.2;
    stroke: #888;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
}

.slider {
  font: 8px sans-serif;
  stroke: #333;

  .axis line, path {
    fill: none;
    stroke: #333;
    /*stroke-width: 2px;*/
    shape-rendering: crispEdges;
  }

  .brush .extent {
    fill:  #ddd;
    stroke: #888;
    stroke-width: 1px;
    /*fill-opacity: .25;*/
    shape-rendering: crispEdges;
  }

  .resize {
    fill: #888;
  }
}


.radial {
  .group {
    fill: #dadada;
    stroke: none;

    &:hover {
      stroke: #808080;
      stroke-width: 1px;
    }

    &.selected {
      fill: #f0f0f0;
    }

  }

  .connector {
    fill: #a0a0a0;
    stroke: none;
  }

  .connection {
//    stroke: steelblue;
    stroke-opacity: .4;
    fill: none;
//    pointer-events: none;

    &:hover, &.highlight {
      stroke: red;
      stroke-width: 4;
    }
  }

  circle {
    stroke-width: 2px;
    &:hover {
      stroke-width: 4px;
    }
  }

  .green-blue {

  }

}

.matrix {
  line {
    fill: none;
    stroke: lightgray;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    opacity: 0.4;
  }
}