
.controls {
  width: 140px;

  .values {
    max-height: 100px;
    overflow: auto;
  }

  .value {
    margin-top: 0;
    padding-top: 0;
  }
}

.selected {
  box-sizing: border-box;
  border: solid black 2px;
  z-index: 1;
}

#compare {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 160px;
  right: 0;
  //border: solid lightblue 1px;
}

#cmap {
  height: 20px;
  width:80%;
}

#cmap_mid {
  position: absolute;
  left: 30%;
}
#cmap_max {
  position: absolute;
  right: 10%;
}

#outer {
  position: fixed;
  top: 100px;
  bottom: 10px;
  left: 160px;
  right:10px;
  //background-color: lightgrey;
}

#matrix {
  position: fixed;
  top: 100px;
  bottom: 10px;
  left: 180px;
  right: 250px;
}

#columns {
  position: absolute;
  overflow: hidden;

  .col {
    position: absolute;
    background-color: palegreen;
    text-align: center;
    overflow: hidden;
    font-size: 10px;
  }

  .rotate {
    transform: rotate(-90deg);
    transform-origin: left 0px;
    text-align: center;
  }
}


#rows {
  position: absolute;
  overflow-y: hidden;

  .row {
    position: absolute;
    background-color: paleturquoise;
    font-size: 10px;

    &:hover {
      box-sizing: border-box;
      border: solid darkgrey 2px;
      z-index: 1;
    }
  }

  .rotate {
    transform: rotate(-90deg);
    transform-origin: left 0px;
    text-align: center;
  }
}

#values {
  position: absolute;
  box-sizing: border-box;
  .value {
    position: absolute;
    &:hover {
      box-sizing: border-box;
      border: solid darkgrey 2px;
      z-index: 1;
    }
  }
}

#frame {
  overflow: scroll;
  position: fixed;
  bottom: 10px;
  right: 250px;
}

#results {
  font-size: 10px;
  position: relative;
  height: 500px;
  .value {
    position: absolute;
    //border: lightgrey solid 1px;
  }



  .rotate {
    transform: rotate(-90deg);
    transform-origin: left 0px;
    text-align: center;
  }

  .col {
    position: absolute;
    background-color: palegreen;
    text-align: center;
  }

  .colText {
    position: absolute;
    //background-color: lightblue;
  }
}

#selection-values {
  height: 40px;
  padding-left: 10px;
}

#selection {
  position: absolute;
  //width: 180px;
  right: 0;
  max-width: 200px;

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: auto;
  }

  ul li {
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 2px;

    &:hover {
      background-color: lightgrey;
    }

  }


  .li-body {
    margin-left: 10px;
  }
}

.field-title {
  font-weight: bold;
  font-size: 10pt;
}
