.greenLink{
    stroke-width: 1px;
}

/*.greenLink:hover{*/
    /*stroke-width: 3px;*/
/*}*/

.blackLink{
    stroke-width: 1px;
}

/*.blackLink:hover{*/
    /*stroke-width: 3px;*/
/*}*/

/*.blackArcs{*/

    /*stroke: black;*/
    /*stroke-width: 1;*/
    /*opacity: 0.5;*/
/*}*/

/*.blackLinks{*/
    /*stroke: black;*/
    /*stroke-width: 1;*/
    /*opacity: 0.6;*/
/*}*/

.nodes{
    fill: black;
    stroke: black;
    stroke-width:1;
}

.grid-overview{
    margin: auto;
    border: 1px solid;
    border-radius: 8px;
    background-color: #ffffff;
    display: none;
}

.group-overview-control{
    border-bottom: 1px solid;
    border-radius: 8px;
}

.highlight-link{
    stroke: black;
    stroke-width: 3px;
}