.group-overview{
    margin: auto;
    border: 1px solid;
    border-radius: 8px;
    background-color: #ffffff;
    display: none;
}

#tab-controls{
    margin: 0px;
    padding-left: 0px;
    border-bottom: 1px solid;
    border-radius: 8px;
}

.greenLink{
    stroke-width: 1px;
    stroke-opacity: 0.5;
}

.blackLink{
    stroke-width: 1px;
    stroke-opacity: 0.5;
}

.nodes{
    fill: black;
    stroke: black;
    stroke-width:1;
}

.highlight-link{
    stroke: black;
    stroke-width: 3px;
}