.group-overview{
    margin: auto;
    border: 1px solid;
    border-radius: 8px;
    background-color: #ffffff;
    display: none;
}

.overview{
    border-bottom: 1px solid #000000;
}

#tab-controls{
    margin: 0px;
    padding-left: 0px;
    height : 50px;

    border-bottom: 1px solid #000000;
    border-radius: 8px;

    cursor: move;
}

.greenLink{
    stroke-width: 1px;
    /*stroke-opacity: 0.5;*/
}

.blackLink{
    stroke-width: 1px;
    /*stroke-opacity: 0.5;*/
}

.nodes{
    fill: black;
    stroke: black;
    stroke-width:1px;
}

.node-highlight{
    fill: green;
    stroke: green;
    stroke-width:5px;
}

.link-highlight {
    stroke: black;
    stroke-opacity: 1;
}