.tabs {
  display: inline-block;
  /*----- Content of Tabs -----*/ }
  .tabs .tab-links {
    padding: 0;
    margin: 10px 0 0 0; }
  .tabs .tab-links:after {
    display: block;
    clear: both;
    content: ''; }
  .tabs .tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none; }
  .tabs .tab-links a {
    padding: 4px 8px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    color: #4c4c4c;
    transition: all linear 0.15s; }
  .tabs .tab-links a:hover {
    background: #f0f0f0;
    text-decoration: none; }
  .tabs li.active a, .tabs li.active a:hover {
    background: #e0e0e0;
    color: #4c4c4c; }
  .tabs .tab-content {
    padding: 0px;
    border-radius: 3px; }
  .tabs .tab {
    display: none; }
  .tabs .tab.active {
    display: block; }

body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

div {
  margin: 0px; }

.page {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.title {
  font-size: 16pt;
  font-weight: bold; }

.color-menu {
  border: 1px solid black;
  background-color: #ccc; }

.color-entry {
  margin: 2px;
  border: 1px solid #ccc; }
  .color-entry:hover {
    border: 1px solid black; }

.swatch {
  display: block;
  width: 20px;
  height: 15px; }

#data-table {
  font-size: 10pt; }

.controls {
  top: 10px;
  left: 5px;
  width: 260px; }
  .controls ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  .controls ul li {
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    margin-top: 10px;
    background-color: #f0f0f0; }
  .controls .li-title {
    margin-left: -10px;
    font-weight: bold;
    font-size: 10pt; }
  .controls .li-body {
    margin-left: 10px; }
  .controls .range-value {
    width: 50px;
    position: absolute;
    text-align: right; }
  .controls #cmap:hover {
    cursor: ns-resize; }
  .controls .job-color {
    display: inline-block;
    width: 20px;
    height: 10px;
    cursor: pointer; }
  .controls .jobs {
    font-size: 8pt; }

.job-color {
  border: solid lightgrey 1px; }
  .job-color:hover {
    border: solid gray 1px; }
  .job-color.selected {
    border: solid black 1px; }

.sub-label {
  width: 40px; }

.info {
  margin-left: 0;
  margin-top: 0; }

.counter {
  width: 250px;
  background-color: #fdf5ce; }

#view {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 280px;
  right: 0; }

.views {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 280px;
  right: 0; }

.view {
  overflow: scroll; }

.histogram .bar {
  shape-rendering: crispEdges;
  pointer-events: none; }
.histogram .bar text {
  fill: #fff; }
.histogram .axis text {
  font-size: 12px; }
.histogram .axis path, .histogram .axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges; }
.histogram .brush .extent {
  fill: #ddd;
  fill-opacity: 1;
  stroke: #888;
  stroke-width: 1px;
  shape-rendering: crispEdges; }
.histogram .externalHandler {
  fill: #ddd;
  fill-opacity: 1;
  stroke: #888;
  stroke-width: 1px;
  shape-rendering: crispEdges; }

.slider {
  stroke: #333; }
  .slider .axis text {
    font-size: 12px; }
  .slider .axis line, .slider path {
    fill: none;
    stroke: #333;
    /*stroke-width: 2px;*/
    shape-rendering: crispEdges; }
  .slider .brush .extent {
    fill: #ddd;
    stroke: #888;
    stroke-width: 1px;
    /*fill-opacity: .25;*/
    shape-rendering: crispEdges; }
  .slider .resize {
    fill: #888; }

.radial-view {
  display: inline-block; }

.radial {
  display: inline-block;
  vertical-align: top;
  position: absolute; }
  .radial .group {
    fill: #fff;
    /*#f8f8f8;*/
    stroke: #ccc; }
    .radial .group text {
      stroke: none;
      fill: black; }
    .radial .group text:hover {
      cursor: pointer;
      fill: red;
      font-size: large; }
    .radial .group.selected text {
      font-size: large; }
    .radial .group.selected path {
      stroke: #000;
      stroke-width: 2px; }
  .radial .connector {
    fill: #a0a0a0;
    stroke: none; }
  .radial .connection {
    stroke-opacity: 1;
    stroke-width: 0.5;
    fill: none; }
    .radial .connection.fade {
      stroke-opacity: 0.3;
      stroke: lightgray; }
    .radial .connection.highlight {
      stroke-width: 4; }

.first {
  stroke-dasharray: 50%; }

.router .nodes {
  fill: #eee;
  stroke-width: 1px;
  stroke: none; }
.router circle {
  stroke-width: 2px;
  r: 2px; }
  .router circle:hover {
    stroke-width: 4px; }
  .router circle:active {
    r: 4px; }
  .router circle.fade {
    opacity: 0.3; }
.router.fade {
  opacity: 0.3; }

#bg-div {
  display: inline-block; }
  #bg-div #bg-button {
    position: absolute;
    right: 10px; }
  #bg-div.closed canvas {
    display: none; }

.matrix line {
  fill: none;
  stroke: lightgray;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  opacity: 0.4; }

.node {
  stroke: white;
  stroke-width: 1.5px; }

.edge {
  stroke-width: 1.5px;
  stroke-opacity: 0.6; }

.graph-ctrl {
  padding-left: 40px; }

.overlay {
  fill: none;
  pointer-events: all; }

/* group view */
.group-view .green {
  stroke-width: 1px;
  stroke: green;
  shape-rendering: crispEdges; }

.closeup {
  padding-bottom: 10px; }
  .closeup .closeup-group {
    fill: lightgray; }
    .closeup .closeup-group rect.fade {
      fill-opacity: 0.3; }
  .closeup .canvas {
    position: fixed;
    padding-left: 30px;
    vertical-align: top;
    fill: lightblue; }

/*# sourceMappingURL=run.css.map */
