@import "tabs"; 

body {
  position:  relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

div {
  margin: 0px;
}

.page {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.title {
  font-size: 16pt;
  font-weight: bold;
}

.color-menu {
  border: 1px solid black;
  background-color: #ccc;
}

.color-entry {
  margin: 2px;
  border: 1px solid #ccc;
  &:hover {
    border: 1px solid black;
  }
}

.swatch {
  //display: inline-block;
  display: block;
  width: 20px;
  height: 15px;
}

#data-table {
  font-size:  10pt;
}

.controls {
//  position: fixed;
  top: 10px;
  left: 5px;
  width: 260px;

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  ul li {
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    margin-top: 10px;
    background-color: #f0f0f0;

  }

  .li-title {
//    font-style: italic;
    margin-left: -10px;
    font-weight: bold;
    font-size: 10pt;
  }

  .li-body {
    margin-left: 10px;
  }

  .range-value {
    width:50px;
    position: absolute;
    text-align: right;
  }


  #cmap {
    &:hover {
      cursor: ns-resize;
    }
  }

  .job-color {
    display: inline-block;
    width: 20px;
    height: 10px;
    cursor: pointer;
  }

  .jobs{
    font-size: 8pt;
  }


}

.job-color {
  border: solid lightgrey 1px ;

  &:hover {
    border: solid gray 1px;
  }

  &.selected {
    border: solid black 1px;
  }
}

.sub-label {
  width: 40px;
}

.info {
  margin-left: 0;
  margin-top: 0;
}


.counter {
  width: 250px;
  background-color: #fdf5ce;
}

#view {
  position: fixed;
  top: 10px;
  bottom: 0;
  left: 280px;
  right: 0;
}

.views {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 280px;
  right: 0;
}

.view {
  overflow: scroll
}

.histogram {

  .bar {
    shape-rendering: crispEdges;
    pointer-events: none;
  }

  .bar text {
    fill: #fff;
  }

  .axis text {
    font-size: 12px;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
  }

  .brush .extent {
    fill:  #ddd;
    fill-opacity: 1;
    stroke: #888;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  .externalHandler {
    fill:  #ddd;
    fill-opacity: 1;
    stroke: #888;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
}

.slider {
  stroke: #333;

  .axis text {
    font-size: 12px;
  }
  .axis line, path {
    fill: none;
    stroke: #333;
    /*stroke-width: 2px;*/
    shape-rendering: crispEdges;
  }

  .brush .extent {
    fill:  #ddd;
    stroke: #888;
    stroke-width: 1px;
    /*fill-opacity: .25;*/
    shape-rendering: crispEdges;
  }

  .resize {
    fill: #888;
  }
}

.radial-view {
  display: inline-block;
}


.radial {
  display: inline-block;
  vertical-align: top;
  position: absolute;

  .group {
    fill: #fff; /*#f8f8f8;*/
    stroke: #ccc;

    text {
      stroke: none;
      fill: black;
    }

    text:hover {
      cursor:pointer;
      fill: red;
      font-size: large;
    }

    //&.:hover {
    //  cursor:pointer;
    //
    //  text {
    //    fill: red;
    //    font-size: large;
    //  }
    //
    //  path {
    //    stroke: #808080;
    //    stroke-width: 1px;
    //  }
    //}

    &.selected {
      text {
        font-size: large;
      }

      path {
        //fill: #d8d8d8;
        stroke: #000;
        stroke-width: 2px;
      }
    }

  }



  .connector {
    fill: #a0a0a0;
    stroke: none;
  }

  .connection {
//    stroke: steelblue;
    stroke-opacity: 1;
    stroke-width: 0.5;
    fill: none;
//    pointer-events: none;

    &.fade {
      stroke-opacity: 0.3;
      stroke: lightgray;
    }
    &.highlight {
      stroke-width: 4;
      //stroke-dasharray: 50%;
    }
  }

}

.first {
  stroke-dasharray: 50%;
}

.router {
  .nodes {
    fill: #eee;
    stroke-width: 1px;
    stroke: none;
  }

  circle {
    stroke-width: 2px;
    r: 2px;

    &:hover {
      stroke-width: 4px;
    }

    &:active {
      r: 4px;
    }

    &.fade {
      opacity: 0.3;
    }
  }

  &.fade {
    opacity: 0.3;
  }

}

#bg-div {
  display: inline-block;

  #bg-button {
    position: absolute;
    right: 10px;
  }

  &.closed {
    canvas {
      display: none;
    }

  }
}



.canvas {
}

.matrix {
  line {
    fill: none;
    stroke: lightgray;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    opacity: 0.4;
  }
}

.node {
//  fill: steelblue;
  stroke: white;
  stroke-width: 1.5px;
}

.edge {
//  stroke: #ddd;
  stroke-width: 1.5px;
  stroke-opacity: 0.6;
}

.graph-ctrl {
  padding-left: 40px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* group view */
.group-view {
  .green {
    stroke-width: 1px;
    stroke: green;
    shape-rendering: crispEdges;
  }
}

.closeup {
  //background-color: #eeff6e;
  padding-bottom: 10px;

  .closeup-group {
    fill: lightgray;

    rect.fade {
      fill-opacity: 0.3;
    }
  }

  .canvas {
    position: fixed;
    padding-left: 30px;
    vertical-align: top;
    fill: lightblue;
  }
}