
.tabs {
//  width: 100%;
  display: inline-block;

  .tab-links {
    padding: 0;
    margin: 10px 0 0 0;
  }
  .tab-links:after {
    display: block;
    clear: both;
    content: '';
  }

  .tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
  }

  .tab-links a {
    padding: 4px 8px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
//    background: #7FB5DA;
//    font-size: 14px;
//    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
  }

  .tab-links a:hover {
    background: #f0f0f0;
    text-decoration: none;
  }

  li.active a, li.active a:hover {
    background: #e0e0e0;
    color: #4c4c4c;
  }

  /*----- Content of Tabs -----*/
  .tab-content {
    padding: 0px;
    border-radius: 3px;
//    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
//    background: #fff;
  }

  .tab {
    display: none;
  }

  .tab.active {
    display: block;
  }

};