.tabs {
  display: inline-block;
  /*----- Content of Tabs -----*/ }
  .tabs .tab-links:after {
    display: block;
    clear: both;
    content: ''; }
  .tabs .tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none; }
  .tabs .tab-links a {
    padding: 4px 8px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    color: #4c4c4c;
    transition: all linear 0.15s; }
  .tabs .tab-links a:hover {
    background: #f0f0f0;
    text-decoration: none; }
  .tabs li.active a, .tabs li.active a:hover {
    background: #e0e0e0;
    color: #4c4c4c; }
  .tabs .tab-content {
    padding: 0px;
    border-radius: 3px; }
  .tabs .tab {
    display: none; }
  .tabs .tab.active {
    display: block; }
